<h3>Grocery Items</h3>
	<ul id="grocery-list">
		{{#each items}}
			<div class="form-inline">
				{{#if state}}
				<li class="form-item checked" data-type="item" contenteditable="false" id={{id}}>{{item}}</li>
				{{else}}
					<li class="form-item" data-type="item" contenteditable="false" id={{id}}>{{item}}</li>
				{{/if}}
				<div class="card border-success text-success xsm mr-2 ml-2" contenteditable="false" id="{{id}}-edit" data-id="{{id}}" data-type="edit">E </div>
				<div class="card border-danger text-danger xsm ml-2 mr-2" contenteditable="false" id="{{id}}-delete" data-id="{{id}}" data-type="delete">X</div>
				<div class="card border-primary text-primary mdm ml-2 no-show" id="{{id}}-save" data-type="save">Save</div>
			</div>
		{{/each}}
	</ul>

<h5>Add New Item</h5>
<form action="/api/items" method="POST" class="form-inline mb-4">
	<div class="form-group">
		<label for="item"></label>
		<input class="form-control-sm" name="item" type="text"></input>
		<input type="submit" value="Add Item" class="btn btn-dark btn-sm">
	</div>
</form>